.full-width.top
  = render 'section_content', section: sections[0]

.quarter-width.boxA
  = render 'section_content', section: sections[1]

.quarter-width.boxB
  = render 'section_content', section: sections[2]

.quarter-width.boxC
  = render 'section_content', section: sections[3]

.quarter-width.boxD
  = render 'section_content', section: sections[4]

.full-width.bottom
  = render 'section_content', section: sections[5]
