.full-width.top
  = image_tag sections[0].image.url

.quarter-width.boxA
  = image_tag sections[1].image.url

.quarter-width.boxB
  = image_tag sections[2].image.url

.quarter-width.boxC
  = image_tag sections[3].image.url

.quarter-width.boxD
  = image_tag sections[4].image.url

.full-width.bottom
  = image_tag sections[5].image.url
